/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set root font-size @10px equivalent */
html {
  font-size: 0.625em;
  /* fallback IE8+ */
  font-size: calc( 		1em * 0.625 	);
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
}

/* Remove focus for mouse users */
:focus:not(:focus-visible) {
  outline: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.6rem;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Set cursor pointer */
label[for],
button,
input[type=submit],
select {
  cursor: pointer;
}

/* Remove font style on address */
address {
  font-style: normal;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Print external URLs */
@media print {
  a {
    text-decoration: underline;
  }

  a[href]:not([href^="#"])::after {
    content: "(" attr(href) ")";
  }
}
/* Helper classes */
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  white-space: nowrap;
}

/* Image replacement technique 2012 H5BP  - https://css-tricks.com/the-image-replacement-museum/ */
.ir {
  font: 0/0 a;
  color: transparent;
  border: 0;
  text-shadow: none;
}

/* montserrat-200 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: local(""), url("../fonts/montserrat-v15-latin-200.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-200.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v15-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/montserrat-v15-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v15-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --pseudo-width: 0%;
}

body {
  position: relative;
  background-color: #2d2f33;
  color: #caccd4;
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: Montserrat, sans-serif;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 5rem;
  line-height: 1;
  color: #fff;
  text-align: center;
  animation: fade-in 3s ease-in-out 0.5s both;
}
@media screen and (min-width: 36em) {
  h1 {
    font-size: 8rem;
  }
}
@media screen and (min-width: 48em) {
  h1 {
    font-size: 10rem;
  }
}

h2 {
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1;
  color: #fff;
  text-align: center;
  animation: fade-in 3s ease-in-out 0.5s both;
}
@media screen and (min-width: 36em) {
  h2 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 48em) {
  h2 {
    font-size: 6rem;
  }
}

@keyframes fade-in {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
label, input, select {
  display: block;
}

button {
  color: currentColor;
}

input {
  width: 100%;
  border: none;
  border-radius: 0.4rem;
  padding: 1rem;
  background-color: #505158;
  color: #caccd4;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
@media screen and (min-width: 62em) {
  .container {
    max-width: calc(62em - 3rem);
  }
}
@media screen and (min-width: 75em) {
  .container {
    max-width: calc(75em - 3rem);
  }
}
@media screen and (min-width: 87.5em) {
  .container {
    max-width: calc(87.5em - 3rem);
  }
}

.header {
  padding: 2rem 0;
  background-color: transparent;
  font-weight: 600;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.header .logo p {
  font-size: 1.2rem;
  margin-right: 1rem;
}
@media screen and (min-width: 36em) {
  .header .logo p {
    font-size: 1.6rem;
  }
}
.header .logo__bars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .logo__bar {
  width: 0.2rem;
  height: 2rem;
  margin-right: 0.15rem;
  background: linear-gradient(0deg, #62656d 0%, #b1b5c0 45%, white 100%);
  transform-origin: bottom;
}
.header .logo__bar:nth-child(1) {
  animation: up-and-down-bis 1s ease-in-out 0.7s both alternate infinite;
}
.header .logo__bar:nth-child(2) {
  animation: up-and-down-bis 0.6s ease-in-out 0.15s both alternate infinite;
}
.header .logo__bar:nth-child(3) {
  animation: up-and-down 1s ease-in-out 0.65s both alternate infinite;
}
.header .logo__bar:nth-child(4) {
  animation: up-and-down-bis 0.8s ease-in-out 0.3s both alternate infinite;
}
.header .logo__bar:nth-child(5) {
  animation: up-and-down 1s ease-in-out 0.9s both alternate infinite;
}
@keyframes up-and-down {
  from {
    transform: scaleY(0.3);
  }
  to {
    transform: scaleY(0.6);
  }
}
@keyframes up-and-down-bis {
  from {
    transform: scaleY(0.2);
  }
  to {
    transform: scaleY(1);
  }
}
.header .cta {
  position: relative;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.4rem;
  background-color: transparent;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 36em) {
  .header .cta {
    padding: 1rem 2rem;
  }
}
.header .cta span {
  display: block;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 36em) {
  .header .cta span {
    font-size: 1.6rem;
  }
}
.header .cta:last-child {
  margin-left: 0.3rem;
  background-color: #ff4b23;
}
@media screen and (min-width: 36em) {
  .header .cta:last-child {
    margin-left: 1rem;
  }
}
.header .cta:hover span {
  transform: scale(1.02);
}

.hero {
  background-color: #131310cc;
  min-height: 100vh;
}

.hero__landing {
  position: relative;
  background-image: linear-gradient(rgba(17, 19, 26, 0.8) 0%, rgba(17, 19, 26, 0.302) 50%, rgba(29, 32, 41, 0.88) 100%), url("../img/bokeh.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.hero__landing .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #ff4b23;
  mix-blend-mode: difference;
  animation: fade 6s;
}
.hero__landing .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
}
.hero__landing .container p {
  margin-top: 2rem;
  color: rgba(224, 233, 235, 0.947);
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  animation: fade-in 3s ease-in-out 0.5s both;
}
@media screen and (min-width: 36em) {
  .hero__landing .container p {
    margin-top: 5rem;
    font-size: 2rem;
  }
}
.hero__landing .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9);
  }
}
.hero__bloomtown {
  background-image: linear-gradient(rgba(17, 19, 26, 0.9) 0%, rgba(17, 19, 26, 0.5) 50%, rgba(29, 32, 41, 0.9) 100%), url("../img/festival.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.hero__bloomtown .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.hero__bloomtown .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
@media screen and (min-width: 36em) {
  .hero__bloomtown .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.hero__bloomtown .cta {
  color: #fff;
  padding: 1.5rem 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2em;
  text-decoration: none;
}
.hero__bloomtown .cta:hover {
  background-color: rgba(255, 255, 255, 0.85);
  color: #000;
  transition: all 0.3s ease-in-out;
}
.hero__bloomtown .cta:first-child {
  margin-bottom: 2rem;
}
@media screen and (min-width: 36em) {
  .hero__bloomtown .cta:first-child {
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

.hero__covers {
  overflow: hidden;
}
.hero__covers .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.hero__covers h2 {
  font-weight: lighter;
  margin-bottom: 2rem;
}
.hero__covers .imgcovers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hero__covers .imgcovers img {
  display: block;
  max-width: 10rem;
  height: auto;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 36em) {
  .hero__covers .imgcovers img {
    max-width: 15rem;
  }
}
@media screen and (min-width: 48em) {
  .hero__covers .imgcovers img {
    max-width: 17rem;
  }
}
@media screen and (min-width: 62em) {
  .hero__covers .imgcovers img {
    max-width: 20rem;
  }
}
@media screen and (min-width: 75em) {
  .hero__covers .imgcovers img {
    max-width: 23rem;
  }
}

.glide {
  position: relative;
}

.glide__slide {
  min-height: calc(100vh - 6.8rem);
}
@media screen and (min-width: 36em) {
  .glide__slide {
    min-height: calc(100vh - 8.4rem);
  }
}

.glide__bullets {
  position: absolute;
  left: 50%;
  bottom: 3%;
  border-radius: 1.5rem;
  transform: translate(-50%, -50%);
}

.glide__bullet {
  width: 1.2rem;
  height: 1.2rem;
  padding: 0;
  border-radius: 2em;
  border: none;
  background-color: #caccd4;
  transition: all 0.2s ease-in-out;
}
.glide__bullet:hover {
  background-color: #fff;
  transform: scale(1.1);
}

.glide__arrows {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.glide__arrows button {
  width: 4rem;
  height: 4rem;
  margin: 0 1.6rem;
  padding: 0;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
}
.glide__arrows button:hover {
  opacity: 0.8;
}

.bars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.bar {
  width: 0.5rem;
  height: 5rem;
  margin-right: 0.15rem;
  background: linear-gradient(0deg, #9da1af 0%, #caccd4 45%, rgba(255, 255, 255, 0.75) 100%);
  mix-blend-mode: hard-light;
  transform-origin: bottom;
}
.bar:nth-child(1) {
  animation: up-and-down-bis 1s ease-in-out 0.7s both alternate infinite;
}
.bar:nth-child(2) {
  animation: up-and-down-bis 0.6s ease-in-out 0.15s both alternate infinite;
}
.bar:nth-child(3) {
  animation: up-and-down 1s ease-in-out 0.65s both alternate infinite;
}
.bar:nth-child(4) {
  animation: up-and-down-bis 0.8s ease-in-out 0.3s both alternate infinite;
}
.bar:nth-child(5) {
  animation: up-and-down 1s ease-in-out 0.9s both alternate infinite;
}
@media screen and (min-width: 62em) {
  .bar {
    width: 0.65rem;
    height: 7.2rem;
    margin-right: 0.3rem;
  }
}

@keyframes up-and-down {
  from {
    transform: scaleY(0.3);
  }
  to {
    transform: scaleY(0.6);
  }
}
@keyframes up-and-down-bis {
  from {
    transform: scaleY(0.2);
  }
  to {
    transform: scaleY(1);
  }
}
.glide__bullet:not(:last-child) {
  margin-right: 0.3rem;
}

.search {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.search .form {
  display: grid;
  grid-template-columns: 100%;
  row-gap: 1rem;
}
@media screen and (min-width: 36em) {
  .search .form {
    grid-template-columns: 55% 25% 1fr;
    column-gap: 1%;
  }
}
@media screen and (min-width: 48em) {
  .search .form {
    grid-template-columns: 55% 30% 1fr;
    column-gap: 1%;
  }
}
@media screen and (min-width: 62em) {
  .search .form {
    grid-template-columns: 60% 30% 1fr;
    column-gap: 1%;
  }
}
.search label[for=search-input] {
  position: relative;
}
.search .search-span {
  position: absolute;
  top: 50%;
  left: 1rem;
  display: block;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}
.search .search-span.translate {
  position: absolute;
  left: 0;
  display: block;
  transform: translateY(-4.5rem);
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
}
.search .dropdown {
  position: relative;
}
.search .dropdown__select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: #505158;
  cursor: pointer;
}
.search .dropdown__select img {
  transition: all 0.3s ease-in-out;
}
.search .dropdown__list {
  position: absolute;
  z-index: 3;
  top: 120%;
  left: 0;
  right: 0;
  border-radius: 0.4rem;
  background-color: #505158;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.search .dropdown__list--hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.search .dropdown__list--item {
  padding: 1rem;
  text-align: left;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.search .dropdown__list--item:hover {
  background-color: #ff4b23;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.search button[type=submit] {
  position: relative;
  width: 100%;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #caccd4;
  background-color: transparent;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.search button[type=submit]::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #505158;
  transition: all 0.3s ease-in-out;
}
.search button[type=submit]:hover {
  transition: all 0.3s ease-in-out;
}
.search button[type=submit]:hover::after {
  width: 100%;
}
.search .rotate {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}
.search .error-info {
  margin-top: 1rem;
  color: #d34747;
  font-size: 1.4rem;
}

.results {
  min-height: calc(100vh - 40rem);
}
.results p {
  font-size: 1.2rem;
}
@media screen and (min-width: 62em) {
  .results p {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 87.5em) {
  .results p {
    font-size: 1.6rem;
  }
}
.results p:not(.results-list__item--id) {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.results-header__row {
  display: none;
}
@media screen and (min-width: 48em) {
  .results-header__row {
    display: grid;
    grid-template-columns: 5rem 1fr 1.5fr 1.5fr 6rem;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 1rem;
    background-color: #131310cc;
  }
}
.results-header__counter {
  display: none;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.results-header__info {
  text-align: center;
}
@media screen and (min-width: 48em) {
  .results-header__info {
    padding-top: 2rem;
  }
}
.results-header .header__id {
  font-weight: 600;
}
.results-header .header__more {
  justify-self: center;
}

#btn-scroll-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: none;
  width: 4rem;
  height: 4rem;
  padding: 0;
  border: none;
  border-radius: 2em;
  background-color: #ff4b23;
}

.results-list p {
  color: #a0a3b2;
}
.results-list img {
  margin-right: 1rem;
  opacity: 0.7;
}
@media screen and (min-width: 48em) {
  .results-list img {
    display: none;
  }
}
.results-list li {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #131310cc;
}
.results-list li:nth-of-type(2n+2) {
  background-color: #131310cc;
}
@media screen and (min-width: 36em) {
  .results-list li {
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #131310cc;
  }
}
@media screen and (min-width: 48em) {
  .results-list li {
    grid-template-columns: 5rem 1fr 1.5fr 1.5fr 6rem;
    grid-template-rows: 1fr;
    padding: 1rem;
  }
}
.results-list__item--id {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: 1rem;
  margin-bottom: 0.8rem;
  padding-left: 0.5rem;
  font-weight: 600;
}
@media screen and (min-width: 36em) {
  .results-list__item--id {
    grid-column: 1/2;
    grid-row: 1/-1;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 0.1rem solid #505158;
    text-align: center;
  }
  .results-list__item--id img {
    margin-right: 0.3rem;
  }
}
@media screen and (min-width: 48em) {
  .results-list__item--id {
    grid-column: 1/2;
    grid-row: 1/-1;
    padding-left: 0.5rem;
    padding-right: 0;
    border-right: none;
    text-align: left;
  }
}
.results-list__item--artist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-column: 1/2;
  grid-row: 2/3;
  margin-left: 1rem;
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 36em) {
  .results-list__item--artist {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 1rem;
    margin-bottom: 0.8rem;
  }
}
@media screen and (min-width: 48em) {
  .results-list__item--artist {
    grid-column: 2/3;
    grid-row: 1/-1;
    margin-left: 0;
    margin-bottom: 0;
  }
}
.results-list__item--title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-column: 1/2;
  grid-row: 3/4;
  margin-left: 1rem;
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 36em) {
  .results-list__item--title {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 1rem;
    margin-bottom: 0.8rem;
  }
}
@media screen and (min-width: 48em) {
  .results-list__item--title {
    grid-column: 3/4;
    grid-row: 1/-1;
    margin-left: 0;
    margin-bottom: 0;
  }
}
.results-list__item--album {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-column: 1/2;
  grid-row: 4/5;
  margin-left: 1rem;
  margin-bottom: 0.8rem;
}
@media screen and (min-width: 36em) {
  .results-list__item--album {
    grid-column: 2/3;
    grid-row: 3/4;
    margin-left: 1rem;
    margin-bottom: 0.8rem;
  }
}
@media screen and (min-width: 48em) {
  .results-list__item--album {
    grid-column: 4/5;
    grid-row: 1/-1;
    margin-left: 0;
    margin-bottom: 0;
  }
}
.results-list__item--more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-column: 3/4;
  grid-row: 1/-1;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #caccd4;
  background-color: transparent;
  opacity: 0.5;
}
.results-list__item--more:hover {
  opacity: 1;
}
.results-list__item--more:hover img {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}
.results-list__item--more img {
  display: block;
  width: 15px;
  height: 15px;
  margin: 0;
  transform: rotate(0);
  transition: transform 0.3s ease-in-out;
}
@media screen and (min-width: 48em) {
  .results-list__item--more {
    grid-column: 5/6;
    justify-self: center;
    margin-right: 0;
  }
}
.results-list .loader {
  position: relative;
  width: 5rem;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 50%;
  background: #ff4b23;
  background: linear-gradient(to right, #ff4b23 10%, rgba(255, 255, 255, 0) 42%);
  animation: roll 1.4s infinite linear;
  transform: translateZ(0);
}
.results-list .loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-radius: 100% 0 0 0;
  background-color: #ff4b23;
}
.results-list .loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: #2d2f33;
}
@keyframes roll {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.show-more-button {
  position: relative;
  display: block;
  margin: 5rem auto;
  padding: 1rem;
  border: 0.1rem solid #caccd4;
  border-radius: 0.4rem;
  background-color: transparent;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.show-more-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #505158;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.show-more-button:hover::after {
  width: 100%;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #131310cc;
  transform: scale(0);
  font-size: 1.2rem;
}
@media screen and (min-width: 36em) {
  .modal {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 62em) {
  .modal {
    font-size: 1.6rem;
  }
}
.modal.open {
  transform: scale(1);
}
.modal .container {
  width: 100%;
  height: 100%;
  background-color: #393b41;
  overflow-y: scroll;
}
@media screen and (min-width: 36em) {
  .modal .container {
    width: 90%;
    height: 90%;
    border-radius: 0.4rem;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.85);
  }
}
@media screen and (min-width: 48em) {
  .modal .container {
    width: 70%;
  }
}
@media screen and (min-width: 62em) {
  .modal .container {
    width: 60%;
  }
}
.modal__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #505158;
}
.modal__header .close-modal {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.modal__header .close-modal__cross {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.modal__header .close-modal__cross--bar {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #ff4b23;
  transition: all 0.3s ease-in-out;
}
.modal__header .close-modal__cross--bar:first-child {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.modal__header .close-modal__cross--bar:last-child {
  position: absolute;
  left: 50%;
  transform-origin: 1px 1px;
  transform: rotate(90deg) translateY(50%);
}
.modal__infos h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 3rem;
  font-weight: 200;
}
@media screen and (min-width: 36em) {
  .modal__infos h3 {
    font-size: 4rem;
  }
}
.modal__infos span {
  font-weight: 200;
  color: #caccd4;
}
.modal__infos p {
  padding: 1rem 0;
  font-weight: 600;
  color: #e2e2e2;
}
@media screen and (min-width: 36em) {
  .modal__infos p {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.modal__infos p:not(:last-of-type) {
  border-bottom: 1px solid #505158;
}
.modal__infos .rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #505158;
}
.modal__infos .rating .star {
  width: 1.7rem;
  height: 1.7rem;
  margin-left: 0.5rem;
  background-color: #caccd4;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}
@media screen and (min-width: 48em) {
  .modal__infos .rating .star {
    width: 2.5rem;
    height: 2.5rem;
  }
}
.modal__infos .rating .decimal {
  position: relative;
  overflow: hidden;
}
.modal__infos .rating .decimal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--pseudo-width);
  height: 100%;
  background-color: #ff4b23;
}
.modal .covers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  place-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.modal .covers img {
  animation: fade-in 1s ease-in-out both;
}
.modal .loader {
  position: relative;
  width: 5rem;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 5rem;
  border-radius: 50%;
  background: #ff4b23;
  background: linear-gradient(to right, #ff4b23 10%, rgba(255, 255, 255, 0) 42%);
  animation: roll 1.4s infinite linear;
  transform: translateZ(0);
}
.modal .loader::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  border-radius: 100% 0 0 0;
  background-color: #ff4b23;
}
.modal .loader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: #393b41;
}
@keyframes roll {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
