@mixin xs {
    @media screen and (min-width: $xs) {
        @content;
    }
}

@mixin sm {
    @media screen and (min-width: $sm) {
        @content;
    }
}

@mixin md {
    @media screen and (min-width: $md) {
        @content;
    }
}

@mixin lg {
    @media screen and (min-width: $lg) {
        @content;
    }
}

@mixin xl {
    @media screen and (min-width: $xl) {
        @content;
    }
}

@mixin xxl {
    @media screen and (min-width: $xxl) {
        @content;
    }
}

@mixin flex-layout($fldir: row, $jc: space-between, $al: center) {
    display: flex;
    flex-direction: $fldir;
    justify-content: $jc;
    align-items: $al;
}

@mixin loadingSpinner($background-loading-spinner: $primary, $margin-top: 5rem) {
    .loader {
        position: relative;
        width: 5rem;
        height: 5rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: $margin-top;
        margin-bottom: 5rem;
        border-radius: 50%;
        background: $secondary-lighter;
        background: linear-gradient(to right, $secondary-lighter 10%, rgba(255, 255, 255, 0) 42%);
        animation: roll 1.4s infinite linear;
        transform: translateZ(0);
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 50%;
            border-radius: 100% 0 0 0;
            background-color: $secondary-lighter;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            width: 75%;
            height: 75%;
            border-radius: 50%;
            background-color: $background-loading-spinner;
        }
    }
    @keyframes roll {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}