/* montserrat-200 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: local(''),
            url('../fonts/montserrat-v15-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/montserrat-v15-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
            url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
            url('../fonts/montserrat-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/montserrat-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local(''),
            url('../fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
            url('../fonts/montserrat-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  
body {
    background-color: $primary;
    color: $text-primary;
    line-height: 1.5;
	font-size: 1.6rem;
    font-family: Montserrat, sans-serif;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    font-size: 5rem;
    line-height: 1;
    color: rgba(245, 232, 232, 0.947);
    text-align: center;
    animation: fade-in 3s ease-in-out 0.5s both;
    @include sm {
        font-size: 8rem;
    }
    @include md {
        font-size: 10rem;
    }
}

@keyframes fade-in {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

label, input, select {
    display: block;
}

button {
    color: currentColor;
}

input {
    width: 100%;
    border: none;
    border-radius: .4rem;
    padding: 1rem;
    background-color: $primary-lighter-1;
    color: $text-primary;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
	@include lg {
		max-width: calc(62em - 3rem);
	}
	@include xl {
		max-width: calc(75em - 3rem);
	}
	@include xxl {
		max-width: calc(87.5em - 3rem);
	}
}

.header {
    padding: 2rem 0;
    background-color: $primary-darker-1;
    font-weight: 600;
    .container {
        @include flex-layout;
    }
    .logo {
        @include flex-layout(row, space-between, baseline);
        p {
            font-size: 1.2rem;
            margin-right: 1rem;
            @include sm {
                font-size: 1.6rem;
            }
        }
        &__bars {
            @include flex-layout(row, center, center);
        }
        &__bar {
            width: .2rem;
            height: 2rem;
            margin-right: 0.15rem;
            background: linear-gradient(
                0deg, rgb(98, 101, 109) 0%,
                rgb(177, 181, 192) 45%,
                rgb(255, 255, 255) 100%
            );
            transform-origin: bottom;
            &:nth-child(1) {
                animation: up-and-down-bis 1s ease-in-out 0.7s both alternate infinite;
            }
            &:nth-child(2) {
                animation: up-and-down-bis 0.6s ease-in-out 0.15s both alternate infinite;
            }
            &:nth-child(3) {
                animation: up-and-down 1s ease-in-out 0.65s both alternate infinite;
            }
            &:nth-child(4) {
                animation: up-and-down-bis 0.8s ease-in-out 0.3s both alternate infinite;
            }
            &:nth-child(5) {
                animation: up-and-down 1s ease-in-out 0.9s both alternate infinite;
            }
        }
    }
    @keyframes up-and-down {
        from {
            transform: scaleY(0.3);
        }
        to {
            transform: scaleY(0.6);
        }
    }
    @keyframes up-and-down-bis {
        from {
            transform: scaleY(0.2);
        }
        to {
            transform: scaleY(1);
        }
    }
    .cta {
        position: relative;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.4rem;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
        @include sm {
            padding: 1rem 2rem;
        }
        span {
            display: block;
            font-size: 1.2rem;
            transition: all 0.5s ease-in-out;
            @include sm {
                font-size: 1.6rem;
            }
        }
        &:last-child {
            margin-left: 0.3rem;
            background-color: $secondary;
            @include sm {
                margin-left: 1rem;
            }
        }
        &:hover {
            color: #fff;
            span {
                transform: scale(1.02);
            }
        }
    }
}

.hero {
    background-color: $primary-darker-1;
    min-height: calc(100vh - 6.8rem);
    @include sm {
        min-height: calc(100vh - 8.4rem);
    }
}

.hero__landing {
    background-image: linear-gradient(
        rgba(17, 19, 26, 0.8) 0%,
        rgba(17, 19, 26, 0.302) 50%,
        rgba(29, 32, 41, 0.88) 100%,
    ),
    url("../img/bg-bokeh.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        @include flex-layout(column, center, center);
        min-height: calc(100vh - 19rem);
        mix-blend-mode: color-dodge;
        p {
            margin-top: 2rem;
            color: rgba(224, 233, 235, 0.947);
            font-size: 1.5rem;
            font-weight: 200;
            text-align: center;
            @include sm {
                margin-top: 5rem;
                font-size: 2rem;
            }
        }
    }
}

.glide {
    position: relative;
}

.glide__slide {
    min-height: calc(100vh - 6.8rem);
    @include sm {
        min-height: calc(100vh - 8.4rem);
    }
}

.glide__bullets {
    position: absolute;
    left: 50%;
    bottom: 3%;
    border-radius: 1.5rem;
    transform: translate(-50%, -50%);
}

.glide__bullet {
    width: 1.2rem;
    height: 1.2rem;
    padding: 0;
    border-radius: 2em;
    border: none;
    background-color: $text-primary;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: #fff;
        transform: scale(1.1);
    }
}

.glide__bullet:not(:last-child) {
    margin-right: 0.3rem;
}

.search {
    padding-top: 5rem;
    padding-bottom: 5rem;
    .form {
        display: grid;
        grid-template-columns: 100%;
        row-gap: 1rem;
    }
    @include sm {
        .form {
            grid-template-columns: 55% 25% 1fr;
            column-gap: 1%;
        }
    }
    @include md {
        .form {
            grid-template-columns: 55% 30% 1fr;
            column-gap: 1%;
        }
    }
    @include lg {
        .form {
            grid-template-columns: 60% 30% 1fr;
            column-gap: 1%;
        }
    }
    label[for="search-input"] {
        position: relative;
    }
    .search-span {
        position: absolute;
        top: 50%;
        left: 1rem;
        display: block;
        transform: translateY(-50%);
        transition: all 0.3s ease-in-out;
    }
    .search-span.translate {
        position: absolute;
        left: 0;
        display: block;
        transform: translateY(-4.5rem);
        transition: all 0.3s ease-in-out;
        font-size: 1.2rem;
    }
    .dropdown {
        position: relative;
        &__select {
            @include flex-layout(row, space-between, center);
            padding: 1rem;
            border-radius: .4rem;
            background-color: $primary-lighter-1;
            cursor: pointer;
            img {
                transition: all 0.3s ease-in-out;
            }
        }
        &__list {
            position: absolute;
            z-index: 3;
            top: 120%;
            left: 0;
            right: 0;
            border-radius: .4rem;
            background-color: $primary-lighter-1;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            &--hidden {
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s ease-in-out;
            }
            &--item {
                padding: 1rem;
                text-align: left;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                &:hover {
                    background-color: $secondary-lighter;
                    color: #fff;
                    transition: all 0.2s ease-in-out; 
                }
            }
        }
    }
    button[type="submit"] {
        position: relative;
        width: 100%;
        padding: 1rem;
        border-radius: .4rem;
        border: 0.1rem solid $text-primary;
        background-color: transparent;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        &::after {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: $primary-lighter-1;
            transition: all 0.3s ease-in-out;
        }
        &:hover {
            transition: all 0.3s ease-in-out;
            &::after {
                width: 100%;
            }
        }
    }
    .rotate {
        transform: rotate(180deg);
        transition: all 0.3s ease-in-out;
    }
    .error-info {
        margin-top: 1rem;
        color: $text-error;
        font-size: 1.4rem;
    }
}

.results {
    min-height: calc(100vh - 26.4rem);
    p {
        font-size: 1.2rem;
        @include lg {
            font-size: 1.4rem;
        }
        @include xxl {
            font-size: 1.6rem;
        }
    }
    p:not(.results-list__item--id) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

.results-header {
    &__row {
        display: none;
        @include md {
            display: grid;
            grid-template-columns: 5rem 1fr 1.5fr 1.5fr 6rem;
            grid-template-rows: 1fr;
            align-items: center;
            padding: 1rem;
            background-color: $primary-darker-1;
        }
    }
    &__counter {
        display: none;
        padding-left: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    &__info {
        text-align: center;
        @include md {
            padding-top: 2rem;
        }
    }
    .header__id {
        font-weight: 600;
    }
    .header__more {
        justify-self: center;
    }
}

#btn-scroll-top {
    @include flex-layout(row, center, center);
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    display: none;
    width: 4rem;
    height: 4rem;
    padding: 0;
    border: none;
    border-radius: 2em;
    background-color: $secondary-lighter;
}

.results-list {
    p {
        color: darken($text-primary, 15%);
    }
    img {
        margin-right: 1rem;
        opacity: .7;
    }
    @include md {
        img {
            display: none;
        }
    }
    li {
        display: grid;
        grid-template-columns: 1fr max-content;
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
        padding: 1rem 0;
        border-bottom: 1px solid $primary-darker-1;
        &:nth-of-type(2n+2) {
            background-color: $primary-darker-1;
        }
        @include sm {
            grid-template-columns: max-content 1fr max-content;
            grid-template-rows: repeat(3, 1fr);
            align-items: center;
            padding: 1rem 0;
            border-bottom: 1px solid $primary-darker-1;
        }
        @include md {
            grid-template-columns: 5rem 1fr 1.5fr 1.5fr 6rem;
            grid-template-rows: 1fr;
            padding: 1rem;
        }
    }
    &__item--id {
        @include flex-layout(row, flex-start, center);
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin-left: 1rem;
        margin-bottom: 0.8rem;
        padding-left: 0.5rem;
        font-weight: 600;
        @include sm {
            grid-column: 1 / 2;
            grid-row: 1 / -1;
            margin: 0;
            padding-left: 1rem;
            padding-right: 1rem;
            border-right: 0.1rem solid $primary-lighter-1;
            text-align: center;
            img {
                margin-right: 0.3rem;
            }
        }
        @include md {
            grid-column: 1 / 2;
            grid-row: 1 / -1;
            padding-left: 0.5rem;
            padding-right: 0;
            border-right: none;
            text-align: left;
        }
    }
    &__item--artist {
        @include flex-layout(row, flex-start, center);
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        margin-left: 1rem;
        margin-bottom: 0.8rem;
        @include sm {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            margin-left: 1rem;
            margin-bottom: 0.8rem;
        }
        @include md {
            grid-column: 2 / 3;
            grid-row: 1 / -1;
            margin-left: 0;
            margin-bottom: 0;
        }
    }
    &__item--title {
        @include flex-layout(row, flex-start, center);
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin-left: 1rem;
        margin-bottom: 0.8rem;
        @include sm {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            margin-left: 1rem;
            margin-bottom: 0.8rem;
        }
        @include md {
            grid-column: 3 / 4;
            grid-row: 1 / -1;
            margin-left: 0;
            margin-bottom: 0;
        }
    }
    &__item--album {
        @include flex-layout(row, flex-start, center);
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        margin-left: 1rem;
        margin-bottom: 0.8rem;
        @include sm {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
            margin-left: 1rem;
            margin-bottom: 0.8rem;
        }
        @include md {
            grid-column: 4 / 5;
            grid-row: 1 / -1;
            margin-left: 0;
            margin-bottom: 0;
        }
    }
    &__item--more {
        @include flex-layout(row, center, center);
        grid-column: 3 / 4;
        grid-row: 1 / -1;
        width: 3rem;
        height: 3rem;
        margin-right: 1rem;
        padding: 0;
        border-radius: 50%;
        border: 1px solid $text-primary;
        background-color: transparent;
        opacity: .5;
        &:hover {
            opacity: 1;
            img {
                transform: rotate(180deg);
                transition: transform 0.3s ease-in-out;
            }
        }
        img {
            display: block;
            width: 15px;
            height: 15px;
            margin: 0;
            transform: rotate(0);
            transition: transform 0.3s ease-in-out;
        }
        @include md {
            grid-column: 5 / 6;
            justify-self: center;
            margin-right: 0;
        }
    }
}

.loader {
    position: relative;
    width: 5rem;
    height: 5rem;
    margin: 5rem auto;
    border-radius: 50%;
    background: $secondary-lighter;
    background: -moz-linear-gradient(left, $secondary-lighter 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, $secondary-lighter 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, $secondary-lighter 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, rgb(134, 128, 128) 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, $secondary-lighter 10%, rgba(255, 255, 255, 0) 42%);
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-radius: 100% 0 0 0;
    background-color: $secondary-lighter;
}
.loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background-color: $primary;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.show-more-button {
    position: relative;
    display: block;
    margin: 5rem auto;
    padding: 1rem;
    border: 0.1rem solid $text-primary;
    border-radius: .4rem;
    background-color: transparent;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $primary-lighter-1;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}

.modal {
    @include flex-layout(column, center, center);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $primary-darker-1;
    transform: scale(0);
    font-size: 1.2rem;
    @include sm {
        font-size: 1.6rem;
    }
    &.open {
        transform: scale(1);
    }
    .container {
        width: 100%;
        height: 100%;
        background-color: $primary;
        @include sm {
            width: 80%;
            height: 80%;
            border-radius: 0.4rem;
        }
    }
    &__header {
        @include flex-layout(row, space-between, center);
        padding: 1rem 0;
        border-bottom: 1px solid $primary-lighter-1;
        .close-modal {
            flex-shrink: 0;
            width: 3rem;
            height: 3rem;
            margin-left: 1rem;
            padding: 0;
            cursor: pointer;
            border: none;
            background-color: transparent;
            &__cross {
                @include flex-layout(column, space-between, center);
                position: relative;
                width: 100%;
                height: 100%;
                transform: rotate(45deg);
                &--bar {
                    width: 100%;
                    height: 2px;
                    border-radius: 1px;
                    background-color: $secondary-lighter;
                    transition: all 0.3s ease-in-out;
                    &:first-child {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    &:last-child {
                        position: absolute;
                        left: 50%;
                        transform-origin: 1px 1px;
                        transform: rotate(90deg) translateY(50%);
                    }
                }
            }
        }
    }
    &__infos {
        h3 {
            margin-top: 2rem;
            margin-bottom: 2rem;
            color: #fff;
            font-size: 3rem;
            font-weight: 200;
            @include sm {
                font-size: 4rem;
            }
        }
        span {
            font-weight: 200;
        }
        p {
            margin-left: 2rem;
            margin-right: 2rem;
            padding: 1rem 0;
            font-weight: 600;
        }
        p:not(:last-of-type) {
            border-bottom: 1px solid $primary-lighter-1;
        }
    }
}