// Screen sizes
$xs: 26em; // Breakpoint 414px
$sm: 36em; // Breakpoint 576px
$md: 48em; // Breakpoint 768px
$lg: 62em; // Breakpoint 992px
$xl: 75em; // Breakpoint 1200px
$xxl: 87.5em; // Breakpoint 1400px

// Colors
$primary: #2d2f33;
$primary-lighter-1: #505158;
$primary-darker-1: #131310cc;
$secondary: #a92f13;
$secondary-lighter:#ff4b23;
$text-primary: #caccd4;

$text-error: #d34747;
