// Screen sizes
$sm: 36em; // Breakpoint 576px
$md: 48em; // Breakpoint 768px
$lg: 62em; // Breakpoint 992px
$xl: 75em; // Breakpoint 1200px
$xxl: 87.5em; // Breakpoint 1400px

// Colors
$primary: #262b3a;
$primary-lighter-1: #3b4050;
$primary-lighter-2: #60667a;
$primary-darker-1: #1f1f29;

$text-primary: #babfd0;